.App {
  /* text-align: center; */
  background-color: aquamarine;
}

.action {
  display: block;

  background-color: azure;
  border: 2px solid green;
  border-radius: 10px;
  margin: 10px auto;
}

.center {
  width: 300px;
  text-align: center;
  margin-left:  auto;
  margin-right: auto;
}

.card {
  border: 1px solid black;
  border-radius: 4px;
  padding: 5px;
  margin: 3px;
  background: wheat;
}

.card > h5 {
  font-size: 1.3em;
  margin-bottom: 5px;
  margin-top: 8px;
}